html, body {
    margin: 0;
    padding: 0;
}

#tick {
    position: absolute;
    top: 5px;
    left: 10px;
}

#tick p {
    margin: 5px 0;
}

#tick input {
    width: 200px;
    height: 20px;
}

#clock {
    position: absolute;
    top: 0;
    right: 10px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 650px;
    margin: 0 auto;
}

.block {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: silver;
    text-align: center;
    cursor: pointer;
}

.block:hover {
    background-color: darkorange;
}

.block img {
    margin: 10px 0;
    width: 128px;
    height: 128px;
    display: none;
}