/*general style*/
html, body {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: none;
}

/*style for window welcome*/
textarea {
    outline: none;
    resize: none;
    overflow: auto;
}

#welcome {
    text-align: center;
    margin-top: 17%;
}

#welcome h3 {
    font-size: 2.3em;
    font-family: Verdana, "Times New Roman";
    margin: 20px;
}

#name {
    width: 500px;
    height: 35px;
    font-size: 1.7em;
    padding: 10px;
    text-align: center;
}

#newGame {
    margin-top: 25px;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 3px;
    color: black;
    background-color: silver;
}

#newGame:hover {
    background-color: green;
    color: white;
}

/*style for count tick*/
#tick {
    position: absolute;
    top: 5px;
    left: 10px;
}

#tick p {
    margin: 5px 0;
}

#tick input {
    width: 200px;
    height: 20px;
}

/*style for stopwatch*/
#clock {
    position: absolute;
    top: 0;
    right: 10px;
}

/*style for game*/
#content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 650px;
    margin: 0 auto;
}

.block {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: silver;
    text-align: center;
    cursor: pointer;
}

.block:hover {
    background-color: darkorange;
}

.block img {
    margin: 10px 0;
    width: 128px;
    height: 128px;
    display: none;
}

/*modal window*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -o-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    text-align: center;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.congrat {
    width: 200px;
    height: 20px;
    text-align: center;
    padding: 10px;
}