html, body {
    margin: 0;
    padding: 0;

}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 650px;
    margin: 0 auto;
}

.block {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: silver;
    text-align: center;
}

.block img {
    margin: 10px 0;
    width: 128px;
    height: 128px;
    display: none;
}