/*general style*/
html, body {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: none;
}

/*style for window welcome*/
textarea {
    outline: none;
    resize: none;
    overflow: auto;
}

#welcome {
    text-align: center;
    margin-top: 17%;
}

#welcome h3 {
    font-size: 2.3em;
    font-family: Verdana, "Times New Roman";
    margin: 20px;
}

#name {
    width: 500px;
    height: 35px;
    font-size: 1.7em;
    padding: 10px;
    text-align: center;
}

#newGame {
    margin-top: 25px;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 3px;
    color: black;
    background-color: silver;
}

#newGame:hover {
    background-color: green;
    color: white;
}

/*style for count tick*/
#tick {
    position: absolute;
    top: 5px;
    left: 10px;
}

#tick p {
    margin: 5px 0;
}

#tick input {
    width: 200px;
    height: 20px;
}

/*style for stopwatch*/
#clock {
    position: absolute;
    top: 0;
    right: 10px;
}

/*style for game*/
#content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 650px;
    margin: 0 auto;
}

.block {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: silver;
    text-align: center;
    cursor: pointer;
}

.block:hover {
    background-color: darkorange;
}

.block img {
    margin: 10px 0;
    width: 128px;
    height: 128px;
    display: none;
}